body {
  font-family: sans-serif;
  background-color: black;
}
.button {
    margin-left: 80%;
    margin-top: -100px;
    background-color: black;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    cursor: pointer;
    border: 2px solid white;
}
.button:hover {
  background-color: orange;
}
.button:hover::before {
  animation: animate .5s linear forwards;
}
.identity{
  margin-top: 16px;
}
.search{
  margin-top: -1500px;
}
.image{

}
ul {
  width: 55%;
  position: absolute;
  top: 10%;
  left: 55%;
  align-content: center;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: flex;
}
ul li {
  list-style: none;
}
ul li a {
  position: relative;
  display: block;
  margin: 0 10px;
  padding: 5px 10px;
  color: #aaa;
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  overflow: hidden;
}
ul li a::before {
  content: '';
  position: absolute;
  top: calc(50% - 2px);
  left: -100%;
  width: 100%;
  height: 4px;
  background: orange;
  transition: 0.5s;
}
ul li a:hover {
  color: #fff;
}
ul li a:hover::before {
  animation: animate .5s linear forwards;
}

@keyframes animate {
  0% {
    top: calc(50% - 2px);
    left: -100%;
    height: 4px;
    z-index: 1;
  }
  50% {
    top: calc(50% - 2px);
    left: 0;
    height: 4px;
    z-index: 1;
  }
  100% {
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
  }
}
/* Список лотов */
.lots {
  margin-right:450px;
  margin-top: 180px;
  padding-top: 15px;
  position:relative;
}
.lots__header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.lots h2 {
  padding-bottom: 42px;
}

.lots__select {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  width: 179px;
  font-size: 13px;
  color: #879296;
  padding: 8px 18px 5px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #ffffff url("../img/dropdown.svg") 157px 18px no-repeat;
}

.lots__select:focus {
  border-color: #45abde;
}

.lots__list {
  margin-top: 200px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
  list-style: none;
}

.lots__item {
  width: 350px;
}

.lot {
  margin-bottom: 30px;
  background-color: #ffffff;
}

.lot__image {
  width: 350px;
  height: 261px;
  border-bottom: 1px solid #e1e6e7;
}

.lot__image img {
  width: 100%;
  height: 100%;
}

.lot__info {
  padding: 22px 30px 30px;
}

.lot__category {
  font-size: 13px;
  color: #879296;
}

.lot__title {
  min-height: 48px;
  margin: 0;
  margin-bottom: 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.lot__state {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.lot__amount {
  font-size: 13px;
}

.lot__cost {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  line-height: 28px;
  font-weight: 700;
}

.lot__timer {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.timer {
  position: relative;
  padding: 6px 8px 5px 25px;
  background-color: #879296;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  border-radius: 2px;
}

.timer::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 9px;
  width: 12px;
  height: 12px;
  background: url("../img/timer.svg") 0 0 no-repeat;
}

.timer--finishing {
  background-color: #f84646;
}

.timer--win {
  padding: 6px 8px 5px 8px;
  background-color: #ffffff;
  color: #25434e;
}

.timer--end {
  padding: 6px 8px 5px 8px;
}

.timer--win::before,
.timer--end::before {
  display: none;
}
